@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    /* background: rgb(171, 244, 247); */
    background: url("clock-pattern.png");
}

.main {
    background: #ddd;
    width: 400px;
    height: 175px;
    margin: 100px auto;
    position: relative;
    padding: 30px;
    border-radius: 4px;
}

.badge {
    width: 96px;
    background: rgb(0, 166, 232);
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    position: absolute;
    top: -15px;
    left: 40%;
    text-align: center;
    font-family: sans-serif;
}

.clock{
    background: #EBEBEB;
    text-align: center;
    font-size: 55px;
    height: 100%;
    padding-top: 25px;
    font-family: Orbitron;
    border-radius: 4px;
}